main {
    height: 100%;
    width: 100dvw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_me {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    align-items: center;  
    padding: 20px;
    margin-top: 1px;
}

#Hobbies {
    width: 320px;
    padding: 10px;
    border: 5px;
    margin: 0;
    margin-bottom: 20px;
}

#Professional {
    margin-bottom: 20px;
}

p {
    margin-bottom: 50px;
}

.Resume {
    width: 320px;
    padding: 10px;
    border: 5px;
    margin: 0;
}

main {
    padding-top: 120px;
}

#Me_Img {
    max-width: 100%;
    height: 50dvh;
    overflow: scroll;
    margin-top: 10px;
}

#Img_2 {
    max-width: 100%;
    height: auto;
    overflow: scroll;
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* DESKTOP STYLING */
@media only screen and (min-width: 1000px) {

    main {
        display: flex;
        flex-direction: wrap;
        margin: 5rem 10rem;
    }
}