/* CSS HEX */

:root {
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;

    --melon: #fec5bbff;
    --pale-dogwood: #fcd5ceff;
    --misty-rose: #fae1ddff;
    --seashell: #f8edebff;
    --platinum: #e8e8e4ff;
    --platinum-2: #d8e2dcff;
    --linen: #ece4dbff;
    --champagne-pink: #ffe5d9ff;
    --apricot: #ffd7baff;
    --peach: #fec89aff;

    font-family: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--platinum);
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--platinum);
    height: 10dvh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--eerie-black);

}

#Main_Nav {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    width: 80%;
    font-size: 1rem;
    padding: 2.1rem 1.3rem;
    font-weight: bold;
    
}

#social_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem 0 0rem;
    padding-top: 1rem;
    border-top: 1px black solid;
}

a:link {
    text-decoration: solid;
    color: var(--onyx);
}

a:hover {
    background-color: var(--platinum-2);
}

a:visited {
    color: var(--onyx);
}

/* nav > a {
    text-decoration: none;
    background-color: var(--outer-space);
    color: white;
    padding: 0.25em;
    border-radius: 0.5em;
}

nav > a:hover {
    background-color: var(--eerie-black);
} */


footer {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0.5rem;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

main {
    height: 70dvh;
    width: 100dvw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 0.5em;
}

#selfie {
    height: 10dvh;
    width: 50%;
    background-color: var(--eerie-black);
    color: var(--antiflash-white);
    object-fit: cover;
}

main > p {
    font-size: small;
}

main > h1 {
    text-align: center;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
}

header ul li {
    display: inline;
}

main {
    padding-top: 60px;
}

main p {
    margin: 20px 0 0 0;
}
main p:first-child {
    margin:0;
}

#Dev_Img {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%
}

#Text {
    width: 320px;
    padding: 10px;
    border: 5px;
    margin: 0;
}

#Main_p {
    margin-bottom: 30px;
}

/* Desktop styling */

@media only screen and (min-width: 1000px) {
    #Dev_Img {
        width: 25%;
        height: 45%;
    }
}